body {
    font-family: 'Poppins', sans-serif;
}

/* navbar */

.navbar {
    color: black;
    padding-top: 40px;
    margin-left: 10px;
    margin-right: 10px;
}
.name {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 25px;
    color: black;
}

.navbar .nav-link {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

small {
    font-size: 16px;
    font-weight: 300;
    color: black;
}

.sqaure {
    width: 20px;
    height: 20px;
    margin-right: 10px;    
    background: #0d50ff;
}

 
#square_blue {
    width: 15px;
    height: 15px;
    margin-right: 10px;
    margin-top: 10px;
    background: #0d50ff;

  }

/* dont delete below astrict */
 */

/* about page */


#about, #offer {
    padding: 100px 0;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.about-left-col {
    flex-basis: 50%;
}

.about-left-col img {
    width: 100%;
}

.about-right-col {
    flex-basis: 50%;
    text-align: left;
    top: 175px;
    right: -5%
}

.about-text {
    max-width: 500px;
    margin-right: 100px;
    display: inline-block;
    margin-top: 10px;
}

.about-text button {
    margin-top: 30px;
    padding: 5px;
    margin-left: 5px;
    width: 100px;
    height: 30px;
    border-radius: 12px;
    font-size: smaller;
}

.about-text p {
    margin-top: 70px;
}


.relative {
    position: absolute;
    top:20px;
  width: 600px;
  height: 700px;
  background-color: #e6dacd;
}

.absolute {
    position: absolute;
    margin-left: 0;
      top: 150px;
      right: -5%;
      width: 375px;
      height: 500px;
      background-color: #f5ece7;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    
   .headshot {
        border-radius: 50%;
        position: absolute;
        top:30px;
        right: 20%
    
    }
    
    .headshot-name {
        position: absolute;
        top:250px;
        right: 35%;
        text-align: center;
    }

    /* about-content */
    
    .line {
        position: absolute;
        top:-10px;
        right: 42%;
        height: 2px;
        width: 50px;
        margin-top: 350px;
        background-color: 	#0d50ff;
    }
    
    .title {
        position: absolute;
        top:380px;
        right: 20%;
        text-align: center;
        letter-spacing: 2px;
        font-weight: 400;
    }
    
    h1 {
        font-size: 80px;
        font-weight: 800;
    }
    
    .resume-btn {
        background-color: 	#0d50ff;
    }

  /* projects */

  .projects {
    background-color: #e6dacd;
    
  }

  .projects .project-title {
      text-align: center;
      margin-top: 20px;
      padding-top: 10px;
      align-items: center;
  justify-content: center;
  }


  .projects h4 {
      font-weight: bolder;
      font-size: 30px;
  }

  .projects .project-text {
    text-align: center;
    margin-top: 5px;
    align-items: center;
justify-content: center;
}

.projects .card-body{
    text-align: left;
}

.projects .card-title{
    font-weight: bolder;
    color: #0d50ff;

}

.projects .checkout-btn{
    padding: 5px;
    margin-left: 5px;
    margin-top: 5px;
    width: 90px;
    height: 30px;
    border-radius: 12px;
    font-size: 10px;
    background-color: 	#0d50ff;
}

.projects .card-discription{
    font-weight: bold;
    text-decoration: underline;
    margin-bottom: 0;
    margin-top: 5px;
}

.projects .card-text{
    font-weight: light;
    font-size: 12px;
}

.projects .project-card .project-photo{
    margin: 10px;
    padding: 30px
}

.project-photo {
    padding: 20px;
    inline-size: 10px;
}